body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9fafb; 
}

main {
    flex-grow: 1;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}


.modal-box {
    background-color: white;
    padding: 1.5rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    width: 100%;
    max-width: 32rem; 
    margin: 1rem; 

    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.modal-overlay.active .modal-box {
    transform: scale(1);
}

.table-row-selectable {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.table-row-selected {
    background-color: #DBEAFE; 
}